.map-style {
  height: 600px;
}

.scrollable {
  max-height: 600px;
  overflow: scroll;
}
.band-location-name {
  color: lightgrey;
}

.band-location-description {
  color: darkgrey;
}

.band-performer {
  padding-top: 5px;
  color: white;
}

.band-gig-name {
  color: lightgrey;
}

.band-time {
  color: darkgrey;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom :0;

  img {
    width: 50px;
    margin-top: -15px;
  }
}

.color-rock {
  background: red;
}

.col {
  padding-left:0;
  padding-right:0;
}

.list-group-item {
  border-radius: 0;
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}