body {
  background: #222;
}
.map-style {
  height: 600px;
}

.scrollable {
  max-height: 600px;
  overflow: scroll;
}

.band-performer {
  padding-top: 5px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom :0;

  img {
    width: 50px;
    margin-top: -15px;
  }
}

.color-rock {
  background: red;
}

.col {
  padding-left:0;
  padding-right:0;
}

.list-group-item {
  border-radius: 0;
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.navbar-style {
  height: 60px;
  padding-top: 5px;
}

.modal-description {
  padding-top: 10px;
}

.list-group-item span img {
  margin-right: 10px;
}

.genre-label {
  font-size: 12px;
}

.route {
  padding-top: 20px;
}