body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}

h1 {
  position: absolute;
  top: 65%;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff236;
  text-shadow: 2px 2px 5px #000;
  text-align: center;

}

.logo {
  position: absolute;
  top: 15%;
  width: 100%;
  font-size: 50px;
  letter-spacing: 3px;
  color: #fff236;
  font-family: Oswald, sans-serif;
  text-align: center;
}