.scrollable {
  overflow: auto;
  max-height: 500px;
  display: block;
}

.width80 {
  width: 80%;
}

.width20 {
  width: 20%;
}

.small-well {
  padding: 10px 0;
}

.main-body {
  min-height: 500px;
}

.loading-page {
  img {
    position: fixed;
    top: 35%;
    left: 40%;
  }
}